<div class="container p-4">
  <h1 class="display-4 text-center mb-4">Lista de Partituras</h1>

  <!-- Input de búsqueda centrado -->
  <div class="d-flex justify-content-center mb-4">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterPdfs()"
      placeholder="Buscar partituras..."
      class="form-control w-50"
    />
  </div>

  <!-- Disposición horizontal de las partituras -->
  <div class="row">
    <div *ngFor="let pdf of filteredPdfs" class="col-md-3 mb-4 text-center">
      <a
        href="#"
        (click)="selectPdf(pdf)"
        class="text-decoration-none text-primary"
      >
        {{ pdf.name }}
      </a>
    </div>
  </div>

  <div *ngIf="selectedPdf" class="mt-6">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="h4">Visor de PDF</h2>
      <button (click)="closePdfViewer()" class="btn btn-danger">
        Cerrar Visor
      </button>
    </div>

    <iframe
      [src]="selectedPdf.url | safeUrl"
      class="w-100"
      height="600px"
    ></iframe>

    <div class="mt-4 text-center">
      <a
        [href]="selectedPdf.url"
        [download]="selectedPdf.name + '.pdf'"
        class="btn btn-primary"
      >
        Descargar {{ selectedPdf.name }}
      </a>
    </div>
  </div>
</div>
